aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
entmax==1.3
fastapi==0.135.2
filelock==3.25.2
frozenlist==1.8.0
fsspec==2026.2.0
h11==0.16.0
hf-xet==1.4.2
huggingface_hub==0.36.2
idna==3.11
Jinja2==3.1.6
jsonargparse==3.13.1
lightning-utilities==0.15.3
lxml==6.0.2
MarkupSafe==3.0.3
mpmath==1.3.0
multidict==6.7.1
networkx==3.6.1
numpy==1.26.4
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-ml-py==13.590.48
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvitop==1.6.2
packaging==25.0
pandas==3.0.1
pip==26.0.1
portalocker==3.2.0
propcache==0.4.1
protobuf==4.25.8
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.1
PyYAML==6.0.3
regex==2026.2.28
requests==2.32.5
sacrebleu==2.6.0
safetensors==0.7.0
scipy==1.17.1
sentencepiece==0.2.1
setuptools==80.10.2
six==1.17.0
starlette==1.0.0
sympy==1.14.0
tabulate==0.10.0
tokenizers==0.22.2
torch==2.11.0
torchmetrics==0.10.3
tqdm==4.67.3
transformers==4.57.6
triton==3.6.0
typing_extensions==4.15.0
typing-inspection==0.4.2
unbabel-comet==2.2.7
urllib3==2.6.3
uvicorn==0.42.0
wheel==0.46.3
yarl==1.23.0
